.add-new-temperature-form {
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 1);

  :global(form) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
